<!-- footer -->
<footer>
	<div class="container">
		<div class="row">
			<section class="three columns">
				<h6>&{'footer.heading.braincy'}</h6>
				<ul class="footer-list">
					<li>#{a @Application.index()}&{'navigation.home'}#{/a}</li>
					<li>#{a @Application.index()}&{'navigation.terms'}#{/a}</li>
					<li>#{a @Application.index()}&{'navigation.imprint'}#{/a}</li>
				</ul>
			</section>
			<section class="three columns">
				<h6>&{'footer.heading.about'}</h6>
				<ul class="footer-list">
					<li>#{a @Application.index()}&{'navigation.about'}#{/a}</li>
					<li>#{a @Application.index()}&{'navigation.newsletter'}#{/a}</li>
					<li>#{a @Application.index()}&{'navigation.jobs'}#{/a}</li>
				</ul>
			</section>
			<section class="three columns">
				<h6>&{'footer.heading.help'}</h6>
				<ul class="footer-list">
					<li>#{a @Application.index()}&{'navigation.help'}#{/a}</li>
					<li>#{a @Application.index()}&{'navigation.support'}#{/a}</li>
					<li>#{a @Application.index()}&{'navigation.guides'}#{/a}</li>
				</ul>
			</section>
			<section class="three columns">
				<h6>&{'footer.heading.community'}</h6>
				<ul class="footer-list">
					<li>#{a @Application.index()}&{'navigation.blog'}#{/a}</li>
					<li>#{a @Application.index()}&{'navigation.facebook'}#{/a}</li>
					<li>#{a @Application.index()}&{'navigation.twitter'}#{/a}</li>
				</ul>
			</section>
		</div>
	</div>
</footer>
<!-- /footer -->